{deps,
 [
  erllambda
 ]}.

%% Build a release from this project
{relx,
 [
  {release, {erllambda_example, semver}, [erllambda_example, erllambda]},

  {sys_config, "./config/sys.config"},
  {vm_args, "./config/vm.args"},
  {include_src, false}
 ]}.

{plugins,
 [
  covertool,
  rebar3_erllambda
 ]}.

{provider_hooks,
 [
  {post, [{release, {erllambda, release}}]}
 ]}.

%% Profiles
{profiles,
 [
  {test,
   [
    {erl_opts, [export_all]},
    {deps, [meck]}
   ]},
  {prod,
   [
    {relx, 
     [
      {include_erts, true},
      {dev_mode, false}
      ]}
   ]}
 ]}.
